doctype xml
svg(
  xmlns='http://www.w3.org/2000/svg'
  width='200'
  height='200'
)
  style.
    .rect {fill:turquoise;stroke-width:4;stroke:gold;}
  for i in [1, 2, 3]
    g(transform='translate(100,100),rotate('+(25*i)+')')
      rect(x='-60',y='-60',width='120',height='120',class='rect')
  circle(cx='100',cy='100',r='40',stroke='brown',stroke-width='8',fill='navy')
